#projects {
    padding: 5%;
    background: #45567d;
}

#projects-grid {
    padding-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
}

.project {
    /* background: blueviolet; */
    /* position: relative;
    padding-top: 100%; */
}

@media (max-width: 28.75em) {
    .projects-section-header {
        font-size: 4rem;
    }
    .projects-grid {
        grid-template-columns: 1fr;
    }
}

.project-image {
    position: absolute;
    top: 0;
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
}

/* .project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
} */

.project-title:hover{
    text-decoration: none;
}

.code{
    opacity: 0;
    color: orangered;
    font-weight: bolder;
}

.project:hover .code{
    transition-duration: 1s;
    opacity: 1;
}

#social-icons{
    font-size: 3rem;
}

.sicon:hover{
    transform: translateY(30px);
    transition: 1s;
    cursor: pointer;
}
.fa {
    padding: 20px;
    font-size: 30px;
    /* width: 50px; */
    text-align: center;
    text-decoration: none;
  }

.card-footer{
    position: absolute;
    bottom: 0;
}

.topnav a {
    float: right;
    /* color: #f2f2f2; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .custom-bg{
    background: #be3144;
  }
  .custom-color{
    color: #be3144;
  }